{% extends "home/base.html" %}
{% block content %}
    <h1>Exponent page!</h1>
    <form action="/exponent/" method="post">{% csrf_token %}
        <label for="data">Data: </label>
        <input type="text" id="data" name="data" value="{{ data }}"><br>
        <label for="exp">Exponent: </label>
        <input type="text" id="exp" name="exp" value="{{ exp }}"><br>
        <input type="submit" value="OK"><br>
    </form>

    <p>
        {%if val%}
        {{ data }} to the power of {{exp}} is {{ val }}
        {%endif%}
    </p>



{% endblock content%}